#Enlaces {
    text-align: right; /* Alinea el texto horizontalmente a la derecha */
    margin-right: 40px; /* Margen de 40px a la derecha */
  }

  #Logo {
    text-align: center; /* Alinea el texto horizontalmente al centro */
    margin-top: 100px; /* Margen de 20px arriba */
    margin: 40 auto; /* Margen de 0 arriba y abajo y centrado horizontalmente */
   
  }

  #Buscador {
    text-align: center; /* Alinea el texto horizontalmente al centro */
   margin-top: 40; /* Margen de 50px arriba */
  }

  #Footer {
        position: fixed; /* Fija el elemento a la ventana */
        bottom: 0;     /* Lo pega a la parte inferior */
        left: 0;       /* Lo pega a la parte izquierda */
        padding: 10px; /* Espacio interno (opcional) */
    
  }